.main_marco_container {
  margin: 2rem;
}
.main_marco_cointainer_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(54, 162, 162, 0.492);
  text-align: center;
}

.titles_container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3rem;
  margin-top: 1.5rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  background-color: rgb(54, 162, 162);
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
}

.W_titles {
  font-weight: bold;
  font-size: 2rem;
}

.main_marco_container_top_title {
  font-size: 1.75rem;
  background-color: rgba(54, 162, 162, 0.492);
  padding: 2rem;
  border-radius: 10px;
}
.main_marco_container_bottom_title {
  font-size: 1.5rem;
}
