.title_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  background-color: rgba(54, 162, 162, 0.492);
  padding: 1rem;
  border-radius: 10px;
}

.provider_title {
  color: green;
  font-size: 2.5rem;
  font-weight: bold;
}

.value_title {
  color: red;
  font-size: 2.5rem;
  font-weight: bold;
}
.consumers_title {
  color: blue;
  font-size: 2.5rem;
  font-weight: bold;
}
