.main_maiwand {
  /* font-size: 24px; */
  /* background-color: #1a2444; */
  margin-left: 40px;
  margin-right: 40px;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
}

.div_container {
  color: white;
  background-color: #1a2444;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  /* padding: 40px; */
}

/* .title_main {
  font-size: 18px;
} */

.list_num {
  text-align: justify;
  color: white;
  /* margin-left: 40px; */
}

.mainparagraph {
  color: white;
  /* margin-left: 40px; */
  text-align: justify;
  padding: 24px;
}

.full_container {
  margin-left: 40px;
  /* padding-left: 40px; */
}

.img_maiwand {
  border-radius: 10px;
  width: 600px;
  margin-left: 40px;
  align-items: center;
}

.reactrouter h3 {
  margin: 40px;
  color: white;
}
